<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="mybatis.properties"/>
    <typeAliases>
        <typeAlias alias="Agent" type="li.allan.domain.Agent"/>
        <typeAlias alias="AgentType" type="li.allan.domain.AgentType"/>
        <typeAlias alias="DeviceType" type="li.allan.domain.DeviceType"/>
        <typeAlias alias="OS" type="li.allan.domain.OS"/>
        <typeAlias alias="OSVersionAlias" type="li.allan.domain.OSVersionAlias"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="jdbc"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="li/allan/mapper/AgentMapper.xml"/>
        <mapper resource="li/allan/mapper/AgentTypeMapper.xml"/>
        <mapper resource="li/allan/mapper/DeviceTypeMapper.xml"/>
        <mapper resource="li/allan/mapper/OSMapper.xml"/>
        <mapper resource="li/allan/mapper/OSVersionAliasMapper.xml"/>
    </mappers>
</configuration>